<!-- <h3>Check Box Demo</h3>
<app-check-box-demo></app-check-box-demo> -->

<!-- <h3>Radio Button Demo</h3>
<app-radio-button-demo></app-radio-button-demo> -->

<!-- <h3>Drop Down List Demo</h3>
<app-drop-down-list-demo></app-drop-down-list-demo> -->

<!-- <h3>Input Demo</h3>
<app-input-demo></app-input-demo> -->
 <!-- <h3>TextArea Demo</h3>
<app-textarea-demo></app-textarea-demo>  -->


<!-- <h3>Datepicker Demo</h3>
<app-datepicker-demo></app-datepicker-demo> -->

<!-- <h3>Icon Demo</h3>
<app-icon-demo></app-icon-demo> -->

<!-- <h3>Button Demo</h3>
<app-button-demo></app-button-demo> -->

<!-- <h3>Chips Demo</h3>
<app-chips-demo></app-chips-demo> -->

<!-- <h3>Progress Spinner Demo</h3>
<app-progress-spinner-demo></app-progress-spinner-demo> -->

<!-- <h3>Real World - Progress Spinner Demo</h3>
<app-progress-spinner-demo2></app-progress-spinner-demo2> -->

<!-- <h3>Tooltip Demo</h3>
<app-tooltip-demo></app-tooltip-demo> -->

<!-- <h3>Tabs Demo</h3>
<app-tabs-demo></app-tabs-demo> -->

<h3>Dialog Demo</h3>
<app-dialog-demo></app-dialog-demo>